<div class="hero">
  <br />
  <div class="col-10 offset-1">
    <h1>Learn Wheel Throwing<br>from the Pros</h1>
    <br />
    <h2>I'm a potter, Kathryn.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br />
    <br />
  </div>
</div>
<br />
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Learn the Basics</h3>
    <br />
    <p>Learn about different clay bodies, tools, firing techniques and more.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>View Tutorials</h3>
    <br />
    <p>Watch videos showcasing wheel processes such as centering, pulling, trimming and more.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join Our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>
